/* Image style */
#scrollUp {
    background-image: url("../img/top.png");
    background-color: black;
    bottom: 30px;
    right: 30px;
    width: 70px;
    height: 70px;
    text-indent: -9999999px;
    display: block;
    border-radius: 50%;
    scroll-behavior: smooth;
    background-repeat: no-repeat;
    background-size: cover;
}
